<menu>
    <Services>
        <NetBox VisibleName="NetBox" cssClass="fa fa-cubes fa-fw">
            <Tun2Socks VisibleName="Tun2Socks" Order="20">
                <Dashboard VisibleName="Tun2Socks Manager" url="/ui/tun2socks" Order="10"/>
            </Tun2Socks>
        </NetBox>
    </Services>
</menu>
